#entry:selected {
  background-color: #1c1b19;
  color: #d0bfa1;
}

#input {
  background-color: #1c1b19;
  color: #d0bfa1;
  border: none;
  border-radius: 0px;
}

#text {
  margin-left: 1em;
}

window {
  background-color: #1c1b19;
  color: #d0bfa1;
  border-radius: 5px;
}
